#sampletable {
    max-width: 100%;
    padding: 10px;
}

#batch-details-container {
    max-width: 100%;
    padding: 5px;
}

#buttons {
    max-width: 100%;
    padding: 10px 0;
    margin-bottom: 0;
}

#title {
    max-width: 100%;
    padding: 10px;
}

/* Section heading */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
}

/* Batch Information Container */
#batch-info-container {
    max-width: 100%;
    padding: 10px 10px;
    background-color: #333;
    color: #FFD700;
    border-radius: 8px;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#batch-info-container h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    margin-bottom: 15px;
}

#batch-info-container p {
    margin-bottom: 10px;
}

#batch-info-container span {
    font-weight: bold;
}

/* Style for the labels (e.g., "Batch ID:") */
#batch-info-container p strong {
    color: #ffb700; /* A lighter gold for labels */
    font-weight: bold; /* Ensure labels are bold */
}

/* Style for the dynamically generated information */
#batch-info-container p span {
    color: white; /* Retain the existing gold for information */
    font-weight: bold; /* Ensure it is not bold (optional) */
}

/* Sample Table */
#samples-table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    margin-bottom: 20px;
    margin-top: 0;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

#samples-table th,
#samples-table td {
    border: 1px solid #FFD700;
    padding: 5px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0;
}

#samples-table th {
    background-color: #777;
    color: white;
    margin-top: 0;
}

#samples-table td a {
    color: #FFD700;
    text-decoration: none;
    margin-top: 0;
}

#samples-table td a:hover {
    text-decoration: underline;
}

/* No Samples Row */
#samples-table tbody tr td {
    text-align: center;
    font-style: italic;
    color: white;
    font-weight: bold;
}

#samples-table th:nth-child(11), /* Drag handle column */
#samples-table td:nth-child(11) {
    width: 9.5%; /* Adjust as needed */
    text-align: center; /* Center-align for drag handle */
}

#samples-table th:nth-child(12), /* Sample ID */
#samples-table td:nth-child(12) {
    width: 9.5%; /* Adjust as needed */
    text-align: center; /* Left-align for readability */
}

#batch-details-container h3 {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-between; /* Push the button to the right */
    align-items: center; /* Vertically align the button with the text */
    font-size: 1.6rem;
    color: white;
    margin-top: 1px;
    margin-bottom: 4px;
}

.button-container {
    display: flex; /* Use flexbox to arrange buttons horizontally */
    margin-bottom: 0;
    gap: 10px; /* Add space between the buttons */
}

#complete-review-button,
#edit-status-button {
    margin-bottom: 15px;
    background-color: green;
    color: white;
    padding: 10px 20px; /* Adjust padding for button appearance */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#edit-status-button {
    background-color: #007BFF; /* Customize the secondary button's background color */
}

#complete-review-button:hover {
    background-color: #28a745; /* Optional hover effect for complete review button */
}

#edit-status-button:hover {
    background-color: #0056b3; /* Optional hover effect for secondary button */
}

#batch-details-container p {
    margin-bottom: 10px;
}

#batch-details-container span {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #333;
    color: #FFD700;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #FFD700;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
}

.modal-content h3 {
    text-align: center;
    color: white;
}

#modal-sample-add-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#modal-sample-add-table th,
#modal-sample-add-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #FFD700;
}

#modal-sample-add-table th {
    background-color: #444;
    color: white;
}

#modal-qc-add-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#modal-qc-add-table th,
#modal-qc-add-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #FFD700;
}

#modal-qc-add-table th {
    background-color: #444;
    color: white;
}

button {
    padding: 5px 10px;
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2px;
}

button:hover {
    background-color: #FFB800;
}

#samples-table td a {
    color: rgb(131, 166, 231);
    text-decoration: none;
    font-weight: bold;
}

#samples-table td a:hover {
    color: #FFB800;
    text-decoration: underline;
}

.table-button-container {
    display: flex;                 /* Enables flexbox layout */
    justify-content: space-between; /* Pushes content to both ends */
    align-items: center;           /* Vertically aligns the buttons */
    width: 100%;          /* Ensures container spans the full width */
    margin-bottom: -20px;
}

.left-buttons {
    display: flex;                 /* Enables flexbox layout for left buttons */
    gap: 2px;  
    padding: 0 0;
    margin-bottom: 0;                   /* Adds spacing between the buttons */
}

.right-buttons {
    display: flex;                 /* Enables flexbox layout for left buttons */
    gap: 2px;  
    padding: 0 0; 
    margin-bottom: 0;                   /* Adds spacing between the buttons */
}

#add-samples-button,
#add-qc-button {
    margin: 2px;
    background-color: #FFD700;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;  
}

#add-samples-button:hover,
#add-qc-button:hover {
    background-color: #FFB800;
}

#save-sample-order-button {
    margin: 2px;
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;  
}

#save-sample-order-button:hover {
    background-color: #0056b3;
}

#batch-results-button {
    margin: 2px;
    background-color: #1abc9c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;  
}

#batch-results-button:hover {
    background-color: #16a085;
}

.remove-sample-button {
    background-color: #f44336; /* Red background */
    color: #fff; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 4px 8px; /* Padding for size */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 0;
}

.remove-sample-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.remove-sample-button:active {
    background-color: #b71c1c; /* Even darker red on click */
}

.remove-sample-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.8); /* Add a glow effect */
}

/* General styles for both dropdowns */
select.parent-dropdown, select.paired-dropdown {
    width: 100%; /* Make them fill the column */
    padding: 4px; /* Add some padding for better appearance */
    font-size: 0.8rem; /* Set a readable font size */
    border: 1px solid #ccc; /* Add a light border */
    border-radius: 4px; /* Round the corners */
    background-color: #333; /* Light background color */
    color: white; /* Text color */
    text-align: center;
    font-weight: bold;
}

/* Hover effect for dropdowns */
select.parent-dropdown:hover, select.paired-dropdown:hover {
    border-color: white; /* Darken the border on hover */
    background-color: #333; /* Slightly darker background */
}

/* Focus effect (when clicked or tabbed into) */
select.parent-dropdown:focus, select.paired-dropdown:focus {
    outline: none; /* Remove default outline */
    border-color: #007BFF; /* Add blue border to indicate focus */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Add subtle shadow for focus */
}

/* Style for the dropdown options */
select.parent-dropdown option, select.paired-dropdown option {
    padding: 2px; /* Add padding inside options */
    background-color: #333; /* Ensure white background */
    color: white; /* Text color */
    text-align: left;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    .hamburger {
        margin-top: -4px;
    }

    #samples-table th,
    #samples-table td {
        font-size: 0.9rem;
        overflow-x: auto;
        white-space: nowrap;
    }

    /* Make the table scrollable on smaller screens */
    #samples-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    select.parent-dropdown, select.paired-dropdown {
        width: 175px;
    }

    #add-samples-button,
    #add-qc-button,
    #save-sample-order-button,
    #batch-results-button {
        padding: 5px 20px;
        font-size: 0.7rem;
        margin-bottom: 0;
        }

}
