#workorder {
    max-width: 100%;
    padding: 10px;
}

/* Section heading */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
}

/* Table container */
#workorders-table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    margin-bottom: 20px;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

/* Table header styling */
#workorders-table th {
    background-color: #777;
    color: white;
    padding: 10px;
    min-width: 150px;
    border: 1px solid #FFD700;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
}

/* Table row styling */
#workorders-table tr:nth-child(odd) {
    background-color: #333; /* Slightly lighter background for odd rows */
}

#workorders-table tr:nth-child(even) {
    background-color: #333; /* Dark background for even rows */
}

/* Table cell styling */
#workorders-table td {
    font-size: 0.8rem;
    padding: 10px;
    min-width: 150px;
    border: 1px solid #FFD700;
    text-align: center;
    white-space: nowrap;
}

/* Table links (workorders ID links) */
#workorders-table a {
    color: rgb(131, 166, 231);;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

#workorders-table a:hover {
    color: #FFB800; /* Lighter yellow on hover */
    text-decoration: underline;
}

/* Style for table headers */
th {
    position: relative;
    text-align: center; /* Center the text */
    vertical-align: middle; /* Vertically center the text */
    padding-right: 20px; /* Add space for the arrow */
    white-space: nowrap; /* Prevent text wrapping */
}

/* Flexbox container for the header content */
th .header-content {
    display: flex;
    align-items: center; /* Vertically align text and arrow */
    justify-content: center; /* Center the text within the cell */
    gap: 5px; /* Add some space between text and arrow */
}

.delete-button {
    background-color: #FF0000;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
}

.delete-button:hover {
    background-color: #CC0000;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    #workorders-table th,
    #workorders-table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    #workorders-table {
        display: block;
        overflow-x: auto;
        white-space: wrap;
    }

    .delete-button {
        padding: 5px 8px;
        font-size: 0.7rem;
    }
}


