

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: #FFD700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a#logo {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFD700;
}

/* Main container styling */
main {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
}

/* Title styling */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #FFD700;
    margin-top: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
}

#overview-container h3 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

/* Form styling */
#overview-container {
    width: auto;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #FFD700;
    background-color: #333;
    color: #FFD700;
    border-radius: 10px;
}

#overview-container input {
    width: 20%;
    padding: 5px;
    border: 1px solid #FFD700;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

#overview-container input:focus {
    outline: none;
    border-color: #FFB800;
}

button {
    background-color: #FFD700;
    color: black;
    font-size: 1.0rem;
    padding: 10px 20px;
    border: 1px solid yellow;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #FFB800;
    border-color: #FFD700;
}

#matrix-types {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: rgb(62, 88, 206);
    color: white;
    padding: 10px 20px; /* Adjust padding for button appearance */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#matrix-types:hover {
    background-color: rgb(74, 104, 235); /* Optional hover effect for complete review button */
}
