/* General styling */
body {
    font-family: 'Libre Baskerville', serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: #FFD700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a#logo {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFD700;
}

/* Main container styling */
main {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
}

/* Title styling */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #FFD700;
    margin-top: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
}

/* Matrix Types Table */
#hold-time-container {
    width: auto;
    padding: 20px;
    margin-top: 10px;
    border: 2px solid #FFD700;
    background-color: #333;
    color: #FFD700;
    border-radius: 10px;
}

#hold-time-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333;
    color: white;
    font-weight: bold;
}

#hold-time-table th,
#hold-time-table td {
    padding: 15px;
    border: 1px solid #FFD700;
    text-align: center;
}

#hold-time-table th {
    background-color: #777;
    color: white;
}

/* Fixed column widths */
#hold-time-table th:nth-child(1),
#hold-time-table td:nth-child(1) {
    width: 10%; /* Sample Type */
}

#hold-time-table th:nth-child(2),
#hold-time-table td:nth-child(2) {
    width: 5%; /* Sample Type Abbreviation */
}

#hold-time-table th:nth-child(3),
#hold-time-table td:nth-child(3) {
    width: 10%; /* Sample Name */
}

#hold-time-table th:nth-child(4),
#hold-time-table td:nth-child(4) {
    width: 55%; /* Sample Name Abbreviation */
}

#hold-time-table th:nth-child(5),
#hold-time-table td:nth-child(5) {
    width: 13%; /* Description */
}

button {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: 1px solid yellow;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #FFB800;
    border-color: #FFD700;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    overflow-y: auto; /* Allow scrolling */
}

.modal-content {
    background-color: #333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #FFD700;
    width: 80%; /* Make the modal 80% of the screen width */
    max-width: 1000px; /* Max width to prevent it from becoming too wide */
    border-radius: 10px;
    text-align: left;
    color: #FFD700;
}

.modal-content h3 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.modal-content input {
    width: 98%;
    padding: 8px;
    border: 1px solid #FFD700;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-content label {
    font-weight: bold;
    color: #FFD700;
    margin-bottom: 5px;
    display: block;
}

.modal-content button {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #FFB800;
}

.modal-content h4 {
    font-size: 1.3rem;
    color: white;
    margin-top: 20px;
}

.modal-content .analyte-row {
    margin-bottom: 20px;
}

/* Cancel button styling */
#cancel-edit {
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

#cancel-edit:hover {
    background-color: #CC0000;
}

#new-hold-time {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: rgb(62, 88, 206);
    color: white;
    padding: 10px 20px; /* Adjust padding for button appearance */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#new-hold-time:hover {
    background-color: rgb(74, 104, 235); /* Optional hover effect for complete review button */
}

.remove-btn {
    background-color: #FF0000;
    color: white;
    border: none;
}

.remove-btn:hover {
    background-color: #CC0000;
}

.edit-btn {
    background-color: #FFD700;
    color: black;
    border: none;
}

.edit-btn:hover {
    background-color: #ffb800;
}