#qualifiers {
    max-width: 100%;
    padding: 10px;
}

/* Section heading */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
}

#qualifier-table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    margin-bottom: 20px;
    border: 2px solid #FFd700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

#qualifier-table th,
#qualifier-table td {
    padding: 15px;
    border: 1px solid #FFD700;
    text-align: center;
}

#qualifier-table th {
    background-color: #777;
    color: white;
}

/* Fixed column widths */
#qualifier-table th:nth-child(1),
#qualifier-table td:nth-child(1) {
    width: 10%; /* Sample Type */
}

#qualifier-table th:nth-child(2),
#qualifier-table td:nth-child(2) {
    width: 75%; /* Sample Type Abbreviation */
}

#qualifier-table th:nth-child(3),
#qualifier-table td:nth-child(3) {
    width: 15%; /* Sample Name */
}

#qualifier-table th:nth-child(4),
#qualifier-table td:nth-child(4) {
    width: 55%; /* Sample Name Abbreviation */
}

#qualifier-table th:nth-child(5),
#qualifier-table td:nth-child(5) {
    width: 13%; /* Description */
}

button {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: 1px solid yellow;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #FFB800;
    border-color: #FFD700;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    overflow-y: auto; /* Allow scrolling */
}

.modal-content {
    background-color: #333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #FFD700;
    width: 80%; /* Make the modal 80% of the screen width */
    max-width: 1000px; /* Max width to prevent it from becoming too wide */
    border-radius: 10px;
    text-align: left;
    color: #FFD700;
}

.modal-content h3 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.modal-content input {
    width: 98%;
    padding: 8px;
    border: 1px solid #FFD700;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal-content label {
    font-weight: bold;
    color: #FFD700;
    margin-bottom: 5px;
    display: block;
}

.modal-content button {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #FFB800;
}

.modal-content h4 {
    font-size: 1.3rem;
    color: white;
    margin-top: 20px;
}

.modal-content .analyte-row {
    margin-bottom: 20px;
}

#save-new-qualifier,
#save-edit {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}

#save-new-qualifier:hover,
#save-edit:hover {
    background-color: #28a745;
}

/* Cancel button styling */
#cancel-edit,
#cancel-new-qualifier {
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}

#cancel-edit:hover,
#cancel-new-qualifier:hover {
    background-color: #CC0000;
}

#new-qualifier {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: rgb(62, 88, 206);
    color: white;
    padding: 10px 20px; /* Adjust padding for button appearance */
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#new-qualifier:hover {
    background-color: rgb(74, 104, 235); /* Optional hover effect for complete review button */
}

.remove-btn {
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}

.edit-btn {
    background-color: #FFd700;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    .hamburger {
        margin-top: -8px;
    }

    #qualifier-table th,
    #qualifier-table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    #qualifier-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}