#createstandards {
    max-width: 100%;
    padding: 10px;
}

#standards-table-container {
    max-width: 100%;
    padding: 10px;
}

/* Section heading */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
}

#specification-table,
#manufacture-table,
#certification-table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    margin-bottom: 20px;
    border: 2px solid #999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

#specification-table th,
#manufacture-table th,
#certification-table th {
    background-color: #777;
    color: white;
    padding: 6px;
    border: 1px solid white;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

#specification-table td,
#manufacture-table td,
#certification-table td {
    background-color: #333;
    color: white;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

#specification-table input,
#manufacture-table input,
#certification-table input {
    width: 96%;
    padding: 4px;
    border: 1px solid white;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.0rem;
}

/* Table styling for analytes */
#analytes-section {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

/* Table styling for analytes */
#analytes-table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    margin-bottom: 20px;
    border: 2px solid #999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

#analytes-table th {
    padding: 6px;
    border: 1px solid white;
    text-align: center;
    background-color: #007BFF;
    color: white;
}

#analytes-table td {
    padding: 6px;
    border: 1px solid white;
    text-align: center;
}

#analytes-table input[type="text"] {
    width: 100%;
    max-width: 90%;
    padding: 6px 12px;
    border: 1px solid white;
    background-color: #333; /* Matches table background */
    color: white; /* Matches theme */
    border-radius: 5px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 1.0rem;
}

#analytes-table input[type="text"]:focus {
    outline: none;
    border-color: #FFB800;
}

#analytes-table input[type="number"] {
    width: 100%;
    max-width: 90%;
    padding: 6px 12px;
    border: 1px solid white;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.0rem;
}

/* Button styling */
button {
    background-color: #FFD700;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #FFB800;
}

button.remove-analyte-btn {
    background-color: red;
    color: white;
    padding: 6px 24px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

button.remove-analyte-btn:hover {
    background-color: #CC0000;
}

#add-analyte-btn {
    margin-top: 5px;
    background-color: rgb(62, 88, 206);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#add-analyte-btn:hover {
    background-color: #ffb900;
}

.button-container {
    display: flex;
    justify-content: right;
    gap: 5px;
}

#save-standard-btn,
#cancel-btn {
    margin-bottom: 10px;
    background-color: green;
    color: white;
    padding: 10px 20px; /* Adjust padding for button appearance */
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#cancel-btn {
    background-color: red; /* Customize the secondary button's background color */
}

#save-standard-btn:hover {
    background-color: #28a745; /* Optional hover effect for complete review button */
}

#cancel-btn:hover {
    background-color: #CC0000; /* Optional hover effect for secondary button */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    .hamburger {
        margin-top: -8px;
    }

    #specification-table th,
    #specification-table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    #specification-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    #manufacture-table th,
    #manufacture-table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    #manufacture-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    #certification-table th,
    #certification-table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    #certification-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    #analytes-table th,
    #analytes-table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    #analytes-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    #save-standard-btn,
    #cancel-btn,
    #add-analyte-btn,
    button.remove-analyte-btn {
        padding: 5px 10px !important;
        font-size: 0.7rem;
    }

    #specification-table input,
    #manufacture-table input,
    #certification-table input,
    #analytes-table input[type="text"],
    #analytes-table input[type="number"] {
        width: 200px;
    }
}









