#compliance-dash {
    max-width: 100%;
    padding: 10px;
}

/* Section heading */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
}

.container {
    max-width: 100%;
    padding: 10px;
    background: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 3px solid #999;
    color: white;
    font-size: 1.0rem;
    font-weight: bold;
}

table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    margin-bottom: 20px;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #005b96;
    color: white;
}

.link-button {
    display: inline-block;
    margin-top: 0;
    padding: 10px 20px;
    background-color: #005b96;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.link-button:hover {
    background-color: #004070;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    #hamburger-btn {
        margin-top: -5px;
        margin-right: -4px;
    }

    table th,
    table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}