#inspectionlogs {
    max-width: 100%;
    padding: 10px;
}

/* Section heading */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 2rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
}

#log-container tbody th {
    background-color: rgb(37, 86, 194) !important;
}

table {
    width: 100%; /* Make the table span the full width */
    border-collapse: collapse;
    background-color: #333; /* Dark background */
    color: white; /* Yellow text */
    border: 2px solid #999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    table-layout: auto; /* Automatically adjust column widths based on content */
}

table th, table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0;
}

table th {
    background-color: #666 !important;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.delete-button {
    background-color: #FF0000;
    color: white;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}

.expand-button {
    font-size: 10px; /* Reduce the size of the triangle */
    padding: 2px 4px; /* Adjust padding for compactness */
    width: 20px; /* Optional: set a fixed width */
    height: 20px; /* Optional: set a fixed height */
    line-height: 10px; /* Align triangle vertically */
    text-align: center; /* Center the triangle horizontally */
    background-color: transparent; /* Remove background if not needed */
    border: none; /* Remove border for a cleaner look */
    cursor: pointer; /* Ensure it's clickable */
    color: white;
    margin: 0;
}

.expand-button:focus {
    outline: none; /* Remove focus outline for a cleaner appearance */
}

button:hover {
    background-color: #FFB800;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6rem;
    }

    table th,
    table td {
        font-size: 0.9rem;
    }

    /* Make the table scrollable on smaller screens */
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

}