/* General background and text styling */
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #333; /* White background for readability */
    color: black;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333; /* Dark background */
    color: #FFD700; /* Yellow text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a#logo {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFD700;
}

/* Main container styling */
main {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
}

/* Section heading */
h2 {
    text-align: left;
    font-size: 2rem;
    color: #FFD700; /* Dark gray */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 98%;
    padding: 1rem;
    background: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#log-container tbody th {
    background-color: rgb(37, 86, 194) !important;
}

h1 {
    text-align: left;
    font-size: 1.8rem;
    color: #ffd700;
    text-transform: uppercase;
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    margin: 1rem 0;
}

table th, table td {
    border: 1px solid #ffd700;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0;
}

table th {
    background-color: #666 !important;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.delete-button {
    background-color: #FF0000;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}

.expand-button {
    font-size: 10px; /* Reduce the size of the triangle */
    padding: 2px 4px; /* Adjust padding for compactness */
    width: 20px; /* Optional: set a fixed width */
    height: 20px; /* Optional: set a fixed height */
    line-height: 10px; /* Align triangle vertically */
    text-align: center; /* Center the triangle horizontally */
    background-color: transparent; /* Remove background if not needed */
    border: none; /* Remove border for a cleaner look */
    cursor: pointer; /* Ensure it's clickable */
    color: white;
    margin: 0;
}

.expand-button:focus {
    outline: none; /* Remove focus outline for a cleaner appearance */
}

button:hover {
    background-color: #FFB800;
}